@font-face {
    font-family: League-Spartan;
    src: url(./media/LeagueSpartan-Regular.ttf);
 }


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'League-Spartan';
}

.itens-header {
    display: flex;
    gap: 3vw;
    padding-left: 44vw;
}

.icones-header {
    display: flex;
    gap: 1vw;
    padding-right: 4vw;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    height: 15vh;
}

/* =============================MAIN=============================================== */


main {
    display: flex;
    flex-direction: column;
}

.apresentacao {
    display: flex;
    flex-direction: row;
}

.icon {
    border-radius: 80%;
    align-self: center;
}

.div-texto {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 70vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.divisor-partes {
    background-color: #ABA0F2;
    width: 90vw;
    height: 1vh;
    align-self: center;
    border: none
}

/* =============================EXPERIENCIAS============================================ */

.experiencias {
    display: flex;
    flex-direction: column;
    height: 95vh;
    gap: 8vh;
    justify-content: center;
    width: 80vw;
    padding-left: 8vw;
}

.titulo-1 {
    padding-bottom: 1vh;
    text-decoration: underline;
}

.titulo-2 {
    opacity: 0.6;
} 

.espaco {
    height: 10vh;
    gap: 1vh;
}

#about-me {
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    height: 14vh;
    gap: 2vh;
}

.local {
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

.botao-icone {
    border: none;
    padding: 0.6vw;
    border-radius: 10%;
    background-color:#ABA0F2;
    color: #544c84;
    font-weight: bolder;
}

.botao-texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =============================PROJETOS============================================ */

#projetos {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-sessao {
    font-size: 5rem;
}

.titulo-projetos { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    gap: 2vh;
}

.cards-projetos {
    display: flex;
    height: 30vh;
    gap:3vw;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 30vw;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3%;
    box-shadow: 10px 10px 5px gray;
}

.descricao-projetos {
    padding-left: 2vw;
}

.nome-projeto {
    text-decoration: underline;
}

.botao {
    border: none;
    padding: 0.6vw;
    border-radius: 10%;
    background-color:#774AD9;
    color: white;
    font-weight: bolder;
}

.botao:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* =============================HABILIDADES================================================ */

#habilidades {
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

.titulo-skills {
    font-size: 3rem;
}

.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4vh;
}

.comportamentais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.descricao-soft-skill {
    padding-bottom: 3vh;
    width: 45vw;
}


/* =============================FOOTER======================================================= */

footer {
    background-color: #ABA0F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

input {
    border: none;
    box-shadow: 1px 1px gray;
    border-radius: 5%;
    padding: 5%;
    width: 20vw;
}

.botao-formulario {
    border: none;
    padding: 0.6vw;
    border-radius: 10%;
    background-color:#774AD9;
    color: white;
    font-weight: bolder;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.foto {
    border-radius: 60%;
}