@font-face {
    font-family: League-Spartan;
    src: url(../media/LeagueSpartan-Regular.ttf);
 }


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'League-Spartan';
}

.itens-header {
    display: flex;
    gap: 3vw;
    padding-left: 44vw;
}

.icones-header {
    display: flex;
    gap: 1vw;
    padding-right: 4vw;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    height: 15vh;
}

#logo {
    max-width: 17vw;
    max-height: 17vh;
    width: auto;
    height: auto;
}


/* =============================MAIN======================================================= */

.projeto {
    height: 80vh;
    display: flex;
    align-items: center;
}

video {
    padding-left: 2vw;
}

.texto-projeto {
    display: flex;
    flex-direction: column;
    padding-left: 4vw;
}

.titulo {
    align-self: center;
    font-size: 3rem;
    padding-bottom: 4vh;
}


/* =============================FOOTER======================================================= */

footer {
    background-color: #ABA0F2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

input {
    border: none;
    box-shadow: 1px 1px gray;
    border-radius: 5%;
    padding: 5%;
    width: 20vw;
}

.botao-formulario {
    border: none;
    padding: 0.6vw;
    border-radius: 10%;
    background-color:#774AD9;
    color: white;
    font-weight: bolder;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.foto {
    border-radius: 60%;
    max-width: 30vw;
    max-height: 30vh;
    width: auto;
    height: auto;
}

/* =========================RESPONSIVO CELULAR========================== */

@media screen and (max-device-width: 800px) {

    .itens-header {
        gap: 2vw;
        padding-left: 0vw;
    }
    
    .icones-header {
        gap: 0vw;
    }
    
    header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;
    }
    
    #logo {
        max-width: 35vw;
        max-height: 35vh;
    }
    
    /* =============================MAIN=============================================== */


    video {
        max-width: 80vw;
        max-height: 80vh;
        width: auto;
        height: auto;
        padding-left: 2vw;
    }

    .projeto {
        height: 60vh;
        width: 80vw;
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
        width: 95vw;
    }
    
    .texto-projeto {
        padding-left: 2vw;
        text-align: center;
    }
    
    .titulo {
        font-size: 2rem;
        padding-bottom: 2vh;
    }


    /* =============================FOOTER======================================================= */

    footer {
        height: 45vh;
    }

    .formulario {
        text-align: center;
        font-size: smaller;
    }

    input {
        width: 30vw;
    }

    .copyright {
        text-align: center;
        gap: 4vh;
        padding-right: 1vw;
    }

}